* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: antiquewhite;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  font-size: 3.2em;
  font-weight: bold;
  line-height: 1.1;
}

.container {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.input_field {
  width: 27rem;
  margin: 50px auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input_bar {
  flex: 1;
  height: 40px;
  border-radius: 12px;
  border: 2px solid orange;
  color: black;
  font-weight: bold;
  padding: 0 10px;
  outline: none;
  box-shadow: 0 0 10px 4px orange;
  transition: 0.3s ease;
}

.input_bar:focus {
  border-color: #ff7d04;
  box-shadow: 0 0 12px 4px rgba(255, 125, 4, 0.8);
  transform: scale(1.03);
}

button {
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffa200;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  background-color: #ff7d04;
}

.tasks-container {
  margin-top: 30px;
  padding: 20px;
  width: 27rem;

  background-color: #fff3b0; 
  border: 3px double #f5b700; 
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  transition: 0.3s ease;
}

.tasks-container p {
  padding: 10px;
  background-color: #ffe066;
  color: #333;
  font-weight: 600;
  border-radius: 8px;
  
}

.task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.task p {
  flex: 1;
  padding: 10px;
  background-color: #ffe066;
  color: #333;
  font-weight: 600;
  border-radius: 8px;
}

.delete-btn {
  height: 36px;
  padding: 0 12px;
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

.delete-btn:hover {
  background-color: #e63939;
}

.done-btn {
  height: 36px;
  padding: 0 12px;
  background-color: #14d444da;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

.done-btn:hover {
  background-color: green;
}

.done-container {
  margin-top: 30px;
  padding: 20px;
  width: 27rem;

  background-color: #fff3b0; 
  border: 3px double #f5b700; 
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  transition: 0.3s ease;
}

.done-container p {
  padding: 10px;
  background-color: #ffe066;
  color: #333;
  font-weight: 600;
  border-radius: 8px;
}

.done-container:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px rgb(249, 253, 0);
}

.tasks-container:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px rgb(249, 253, 0);
}

.theme-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
}